.book-page {
  background: #a0430a;
  color: #dfe8e6;
  min-height: 70vh;
  padding: 40px 20px;
  text-align: center;
}

.book-page h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.book-page p {
  margin-bottom: 30px;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

@media (min-width: 768px) {
  .book-form {
    max-width: 50%;
  }
}
.book-form input,
.book-form select,
.book-form textarea {
 
  padding: 25px 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.book-form textarea {
  resize: vertical;
  min-height: 150px;
}

.book-form button {
  background: #dfe8e6;
  color: #a0430a;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.book-form button:hover {
  background: #fff;
}
