.app {
  /* font-family: "Poppins", sans-serif; */

  min-height: 100vh;
}
.Floating-Socials{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  /* background: black; */
}